/* #region avenir */

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/avenir/avenir-200-r.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: italic;
    font-weight: 200;
    src: url('./assets/fonts/avenir/avenir-200-i.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/avenir/avenir-400-r.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/avenir/avenir-400-i.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/avenir/avenir-500-r.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/avenir/avenir-500-i.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/avenir/avenir-700-r.woff2') format('woff2');
}

@font-face {
    font-family: Avenir;
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/avenir/avenir-700-i.woff2') format('woff2');
}

/* #endregion */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    height: 100%;
	box-sizing: border-box;
}

body {
    height: 100%;
	line-height: 1;
    font-family: Avenir, sans-serif;
    background-color: var(--color-bg, #fff);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
